body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.create-title{
    font-size: 40px;
    font-family: cursive;
    background-color: rgba(161, 231, 231, 0.3);
    height: 70px;
    margin: 0;
    text-align: center;
    padding-top: 40px;
}

.create-page{
    background-color: rgba(161, 231, 231, 0.3);
    height: 135vh;
    padding-top: 70px;
}

.create-form{
    border: 1px solid rgb(0,0,0,0.3);
    border-radius: 30px;
    width: 80vw;
    height: 50vh;
    background-color: rgb(250,240,230,0.9);
    margin: 0 auto 0 auto;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid rgb(0,0,0,0.3);
    height: 70px;
    padding-top: 15px;
    gap: 50px;
}

.title-form{
    border: 1px solid rgb(0,0,0,0.2);
    background-color: white;
    height: 40px;
    width: 30vw;
}

.label-title{
    font-size: 20px;
    /* margin-right: 10px; */
}

.dead-letter{
    font-size: 20px;
    margin-right: 10px;
    margin-top: 4px;
}

.deadline-box{
    /* border-bottom: 1px solid rgb(0,0,0,0.3); */
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}

.option-date{
    height: 40px;
    background-color: white;
    border: 1px solid rgb(0,0,0,0.3);
    height: 40px;
    width: 120px;
}

.form-content{
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 30px 0px 100px 150px;
}

textarea{
    border: 1px solid rgb(0,0,0,0.2);
    background-color: white;
    width: 80%;
    height: 30vh;
}

.label-content{
    font-size: 20px;
    margin-right: 10px;
}

.post-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.old-image{
    width: 30vw;
    height: 45vh;
    margin-right: 40px;
    border-radius: 10%;
}

.show{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.new-image{
   display: flex;
   flex-direction: column;
   margin-top: 50px;
}

.camera-image{
    margin-right: 10px;
}

.select{
    display: flex;
    flex-direction: row;
}

.select-image{
    width: 120px;
}

.post-btn{
    border: 1px solid rgb(0, 0, 0, 0.4);
    border-radius: 10px;
    height: 40px;
    width: 73px;
    background-color:lemonchiffon;
}

.submit-box{
    display: flex;
    justify-content: right;
    margin-right: 30px;
}

@media screen and (max-width: 700px) {
    body{
        margin: 0;
        padding: 0;
    }

    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px;
        border-bottom: 1px solid rgb(0,0,0,0.3);
        height: 100px;
    }

    .label-title{
        font-size: 15px;
    }

    .title-form{
        height: 30px;
        width: 45vw;
        background-color: white;
    }

    .dead-letter{
        font-size: 15px;
    }

    .option-date{
        height: 30px;
        width: 24vw;
        background-color: white;
    }

    .label-content{
        font-size: 15px;
    }

    .form-content{
        margin: 10px 10px 10px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-area{
        background-color: white;
    }


    .old-image{
    width: 50vw;
    height: 20vh;
    margin-right: -20px;
}

    .show{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagine{
        font-size: 15px;
    }

    .select{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}