body{
    height: 100%;
}
.pageface{
   background-color: rgba(161, 231, 231, 0.3);
   height: 200vh;
}

.form-index{
    width: 80vw;
    margin: -50px auto 0 auto;
}

.imageandpost{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto -70px auto;
    width: 55vw;
}

.no-image{
    margin-right: 210px;
}

.card-head{
    font-size: 70px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    font-family: cursive;
}

.card-boxes{
    /* border: 1px solid rgb(0,0,0,0.3); */
    /* border-radius: 30px; */
    width: 70vw;
    height: 28vh;
    background-color: rgb(250,240,230,0.7);
}

.posttitle-box{
    border-bottom: 1px solid rgb(0,0,0,0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.post-title{
    padding-top: 30px;
    padding-left: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight:bolder;
}

.dead-box{
    padding-top: 30px;
}

.postcontents{
    width: 65vw;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: end;
}
.postcontent{
    /* display: flex; */
    /* border-bottom: 1px solid rgb(0,0,0,0.3); */
    /* padding-bottom: 30px; */
    width: 100%;
    padding-top: 30px;
    padding-left: 40px;
}

.username{ 
    padding-bottom: 30px;
    margin-left: 10px;
    margin-top: 90px;;
}

.eachname{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.word-form{
    /* display: flex; */
}

.click-btn{
    display: flex;
    flex-direction: row;
}

.like{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    /* margin-left: 120px; */
    /* margin-top: 150px; */
}

.fa-thumbs-up{
    padding-right: 5px;
}

.count{margin-left: 10px;

}

.far{
    display: flex;
    flex-direction: row;
    
}

.samplepic{
    margin: 30px;
    width: 160px;
    height: 150px;
    box-shadow: 20px 20px 15px -10px;
    border-radius: 20px;
}

.trash{
    display: flex;
    justify-content: right;
    margin-left: 5px;
    border: none;
    background-color: rgba(161, 231, 231, 0.01);
}

/* .destroy-btn{
   margin-top: 150px;
} */

.navigation{
    padding-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(161, 231, 231, 0.3)
}

@media screen and (max-width: 700px) {
    /* html{
        width: 100%;
    } */

    body{
        width: 100%;
    }

    .pageface{
        height: auto;
     }

     .form-index{
        width: 50vw;
        margin: 0 auto 0 auto;
    }

    /* .pageface{
       width: 100vw;
     } */

     .username{ 
        margin-top: 20px;
        padding-bottom: 0px;
    }

    .word-form{
        margin-bottom: 70px;
    }

     .card-head{
        font-size: 40px;
        /* text-align: center; */
        padding-top: 40px;
        padding-bottom: 30px;
        font-family: cursive;
        width: 60vw;
        margin: 0 auto 0 auto;
    }

    .imageandpost{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto -70px auto;
        width: 55vw;
    }

    .card-boxes{
        width: 55vw;
        height: 30vh;
    }

    .posttitle-box{
        display: flex;
        flex-direction: column;
    }

    .post-title{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        font-weight:bolder;
        margin-bottom: -2px;
    }

    .dead-box{
        text-align: center;
        padding-top: 0;
        font-size: 12px;
    }

    .postcontents{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-right: 0;
        width: 55vw;
    }



    .navigation{
        padding-top: 40px;
    }
}
