body{
    height: 100%;
}
.pageface{
   background-color: rgba(161, 231, 231, 0.3);
   height: 260vh;
}

.form-index{
    width: 80vw;
    margin: 0 auto 0 auto;
}

.card-head{
    font-size: 70px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    font-family: cursive;
}

.card-boxes{
    border: 1px solid rgb(0,0,0,0.3);
    border-radius: 30px;
    width: 70vw;
    height: 30vh;
    margin: 0 auto 50px auto;
    background-color: rgb(250,240,230,0.7);
}

.posttitle{
    border-bottom: 1px solid rgb(0,0,0,0.3);
}

.postcontents{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.postcontent{
    display: flex;
    /* border-bottom: 1px solid rgb(0,0,0,0.3); */
    padding-bottom: 30px;
    width: 100%;
}
.list{
    padding-top: 30px;
    padding-left: 40px;
}
.username{ 
    padding-bottom: 30px;
    margin-left: 10px;
}

.eachname{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.imageandpost{
    display: flex;
    flex-direction: row;
}

.like{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
}
.fa-thumbs-up{
    padding-right: 10px;
}

.count{margin-left: 10px;

}

.far{
    display: flex;
    flex-direction: row;
    
}


.move-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.samplepic{
    margin: 30px;
    width: 120px;
    height: 120px;
}

.destroy-btn{
   margin-top: 90px;
}

.navigation{
    display: flex;
    justify-content: center;
}

/* .pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
  } */