body{
   height: 100%;
   margin: 0;
   padding: 0;
}

.show-page-title{
    font-size: 45px;
    font-family: cursive;
    background-color: rgba(161, 231, 231, 0.3);
    height: 70px;
    margin: 0;
    text-align: center;
    padding-top: 40px;
}

.own-card{
    background-color: rgba(161, 231, 231, 0.3);
    height: 290vh;
    padding: 120px auto 0 auto;
}

div > .card-flex{
    /* display: flex;
    flex: column;
    justify-content: center; */
    padding-top: 50px;
}

.username{
    background-color: rgba(161, 231, 231, 0.07);
    /* border: 1px solid black; */
    /* border-radius: 24%; */
    width: 200px;
    margin: 0 auto 0 auto;
    /* padding: 0 auto 50px auto; */
}

.name{
    /* width: 150px; */
    padding-left: 50px;
    /* margin-bottom: 10px; */
    font-size: 40px;
    text-decoration: none;
    color: black;
    /* border: 1px solid red; */
}

a:hover{
    color: orange;
}

div > .incard{
    background-color: rgb(250,240,230,0.9);
    border: 1px solid black;
    border-radius: 30px;
    width: 65%;
    height: 40vh;
    margin: 0 auto 0 auto;
    padding-top: 30px;
}

.first-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.show-title{
    /* border-bottom: 1px solid rgb(0,0,0,0.2); */
    background-color: rgb(250,240,230,0.9);
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 0;
    width: 40vw;
    font-size: 25px;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-middle{
    background-color: rgb(250,240,230,0.9);
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.card-out{
    /* border: 10px solid black; */
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 50px;
}

.handwork{
    display: flex;
    flex-direction: row;
}

.pencil-box{
    /* margin-top: 280px;*/
    padding-left: 30px;
    margin-left: 10px; 
    display: flex;
    flex-direction: column;
    justify-content:end;
}

.pencil{
    text-decoration: none;
    font-size: 35px;
}

.trash{
    margin: 0;
    border: none;
    background-color: rgba(161, 231, 231, 0.01);
}

.erase-box{
    /* margin-top: 275px;*/
    margin-left: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.like{
    position: absolute;
    right: 310px;
    top: 950px;
    /* margin-right: 0; */
}

.far{
    margin-right: 10px;
}


.show-img{
    width: 30vw;
    height: 40vh;
    border: 10px solid black;
    border-color:darkturquoise;
    border-radius: 10%;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 100px; */
}

.comment-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-box{
    width: 65%;
}

.comment-box{
   margin: 120px auto 0 auto;
}

.word-comment{
    font-size: 30px;
    margin-bottom: 20px;
}

.big-btn-box{
    display: flex;
    justify-content: center;
}

.button-box{
    width: 180px;
    display: flex;
    justify-content: center;
}

.comment-list{
    display: flex;
    justify-content: center;
    
}

.card-body{
    background-color: rgb(250,240,230,0.9);
}

@media screen and (max-width: 700px) {
    .show-img{
        width: 180px;
        height: 170px;
        border: 5px solid darkturquoise;
    }

    .whole-card{
        margin-bottom: 90px;
    }

    .card-out{
        /* border: 10px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    div > .first-row{
        margin-top: -10px;
    }

    .first-row{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .show-title{
        margin-left: -20px;
    }

    .card-middle{
        overflow: scroll;
        height:150px;
    }

    .handwork{
        display: flex;
        flex-direction: row;
        position: absolute;
        top:770px;
    }

    .pencil-box{
        margin-left: 10px; 
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content:end;
    }

    .like{
        position: absolute;
        right: 30px;
        top: 770px;
        /* margin-right: 0; */
    }

}